[Unit]
Description=dotnet-py-api

[Service]
WorkingDirectory=/opt/srv.py-api/

ExecStart=/bin/bash -c 'source /opt/miniconda3/bin/activate company && python app.py 2'
ExecStartPost=/bin/bash -c 'source /opt/miniconda3/bin/activate company && python api_systemctl_action.py 2 start'
ExecReload=/bin/bash -c 'source /opt/miniconda3/bin/activate company && python api_systemctl_action.py 2 restart'
ExecStop=/bin/bash -c 'source /opt/miniconda3/bin/activate company && python api_systemctl_action.py 2 stop'

RemainAfterExit=yes
Restart=always
StandardOutput=journal
KillMode=process

Environment=ASPNETCORE_ENVIRONMENT=Staging


[Install]
WantedBy=multi-user.target
